# dependencies
/node_modules

# next.js
/.next
/out

# local env
.env
.env.local

# prisma (legacy sqlite)
/prisma/dev.db
/prisma/dev.db-journal

# uploads
/storage/uploads/*
!/storage/uploads/.gitkeep

# misc
.DS_Store
*.log
